<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>

    <hgroup>
        <h1> Whoops!</h1>
        <h2>Something went wrong.</h2>
    </hgroup>
    <img src="~/Content/images/error.png" style="align-content:center" />
    <h4><a href="http://192.168.1.30:45">go back to the homepage</a></h4>
    <style>
        body {
            display: inline-block;
            height: 100vh;
            margin: 0;
        }
        h4 {
            color: #336699;
            margin-top:-14.5%;
            margin-left:77% 
        }
        h1 {
            margin: .8em 3rem;
            font: 3em Roboto;
            color: red 
        }

        h2 {
            margin: .8em 3rem;
            font: 3em Roboto;
        }

        p {
            display: inline-block;
            margin: 2em 5rem;
            font: 2em Roboto;
        }

        img {
            margin-top: -15%;
            margin-left: 20%;
            height: 100%;
            width: 80%
        }
    </style>
    <script src="~/Content/test/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
