body {
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding-left: 1.5em;
    font-size: 15PX;
    height: 30PX;
}

    #sortable li span {
        position: absolute;
        margin-left: -1.3em;
    }

.checkbox_resp_list {
}
