
@{
    ViewBag.Title = "ITIssue";
 
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }


    int lineId = ViewBag.lineid;
}
@model IssueManagementSystem.Models.issue_occurrence
<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />

<div class="container margin ">
    <h2>IT Issue</h2>
    <hr />
    <div class="row">
        <div class="" style="width:50%;margin:auto;">
            <div class="form-group" style="width:100%;margin:auto">

              


                <div style="padding-top:20px;">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" rows="5" id="description"></textarea>
                </div>

                <div class="button-holder" style="display:block">
                    <div class="ajax-button">
                        <div class="fa fa-check done"></div>
                        <div class="fa fa-close failed"></div>
                        <input id="submit" class="submit" type="submit" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/Hubs"></script>
<script src="~/Scripts/AdminScripts/select2-min.js"></script>


<script>
    $("#submit").click(function () {

        obj = new Object();
        obj.description = document.getElementById("description").value;
        obj.line_line_id = '@ViewBag.lineid';
        obj.location =  '@Session["location"]';
        obj.empId=@Session["userID"]
        var obj_array = new Array();
        obj_array.push(obj);

        var issueJson = JSON.stringify(obj_array);
         var url = '@Url.Action("AddIssueIT", "Supervisor")'
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: url,
            data: { issueJson: issueJson },
            success: function (feedback) {
               $.connection.hub.start()//Refresh Screen
                .done(function () {
                 console.log("Worked")
                 $.connection.ismHub.server.announce();
              }).fail(function () { alert("Can't Refresh Your Line Screen! Plese Inform IT Department!") });//return to dashbord

              window.location.href = '@Url.Action("DashBord", "CellEngineer")?lineid=@ViewBag.lineId';
            },
            error: function (feedback) {
                alert(feedback);
            }
        });
    });

</script>

